@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir.eot");
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Vazir.woff2") format("woff2"),
      url("../fonts/Vazir.woff") format("woff"),
      url("../fonts/Vazir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  
  @font-face {
    font-family: "nastaliq";
    src: url("../fonts/IranNastaliq.ttf") format("embedded-opentype"),
      url("../fonts/IranNastaliq.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Sans";
    src: url("../fonts/Sans.ttf") format("embedded-opentype"),
      url("../fonts/Sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Shekasteh";
    src: url("../fonts/Shekasteh.ttf") format("embedded-opentype"),
      url("../fonts/Shekasteh.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "BMitra";
    src: url("../fonts/BMitra.ttf") format("embedded-opentype"),
      url("../fonts/BMitra.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff"),
      url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }



body {
    margin: 0;
    padding: 50;
}

.logo_img {
    /* border-radius: 61%; */
    /* rotate: 20deg; */
    /* top: 29px; */
    position: relative;
    opacity: 0.8;

}

/* .css-6od3lo-MuiChip-label {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 3px !important;
    padding-right: 3px !important;
    margin: 0 !important;
    white-space: nowrap;
} */

/* تغییر عرض و رنگ اسکرول بار */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #f5f5f5;
}

/* تغییر رنگ thumb */
::-webkit-scrollbar-thumb {
    background-color: #555;
}

/* تغییر رنگ track */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}